html {
    font-size: 125%;
}

.overflowWrapper {
    overflow-x: hidden;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
    border-radius: 20px;
}