@use "variables" as *;

form {
    width: 46%;
    background-color: rgba($color: $offWhite, $alpha: 0.1);
    border-radius: 20px;
    padding: 30px 40px 40px;
}

fieldset {
    border: none;
    padding: 0;
}

input {
    display: block;
    font-family: "Zirkon Medium Italic";
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: $offWhite;
    border-radius: 6px;
    border: none;
    background-color: $royalPurple;
}

textarea {
    border: none;
    margin-top: 10px;
    width: 100%;
    border-radius: 6px;
    font-family: "Zirkon Medium Italic";
    color: $offWhite;
    padding: 10px;
    resize: none;
    height: 160px;
    background-color: $royalPurple;
}

button {
    font-family: "Adlinnaka Medium";
    border: none;
    margin-top: 10px;
    width: 100%;
    border-radius: 6px;
    padding: 10px;
    background-color: $accentYellow;
    cursor: pointer;
    transition: 0.2s all;
    border: 2px solid $accentYellow;
    &:hover, &:focus {
        box-shadow: 0 0 10px $royalPurple;
        border: 2px solid $royalPurple;
    }
}

input:focus, textarea:focus {
    outline: 2px solid $accentYellow;
}