@use 'variables' as *;
@use 'mixins' as *;

ul.skillList {
    @include horizontal-list;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 60px;
    padding: 0 40px 40px;
    li {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
}

ul.projectSkills {
    @include horizontal-list;
    display: inline-block;
    display: flex;
    gap: 20px;
    width: fit-content;
    flex-flow: row wrap;
    padding-bottom: 12px;
    li {
        border-bottom: 2px solid $accentYellow;
        padding-bottom: 10px;
    }
}

ul.projectLinks {
    @include horizontal-list;
}