@use 'variables' as *;
@use 'mixins' as *;

nav.topNav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-flow: row nowrap;
    position: relative;
}

ul.topMenu, ul.socialIcons {
    @include horizontal-list;
    a {
        text-decoration: none;
    }
}

.hamburgerMenu {
    background-color: transparent;
    color: white;
    border: none;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: 0;
    transform: scale(150%);
    cursor: pointer;
    display: none;
    width: fit-content;
}

.close-icon {
    display: none;
}

ul.socialIcons a {
    display: inline-block;
    line-height: 0;
}

ul.topMenu a {
    margin-left: 30px;
}

