@use 'variables' as *;
@use 'mixins' as *;

nav.topNav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-flow: row nowrap;
}

ul.topMenu, ul.socialIcons {
    @include horizontal-list;
    a {
        text-decoration: none;
    }
}

ul.topMenu a {
    margin-right: 20px;
}

