@use 'variables' as *;

.aboutSection, .skillsSection, .projectsSection, .contactSection {
    border-top: 2px solid rgba($color: $offWhite, $alpha: 0.05);
    background-color: $royalPurple;
    padding: 60px 0;
}

.aboutContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.aboutImage {
    width: 40%;
}

.aboutText {
    width: 55%;
}

.skillsContainer {
    display: flex;
    gap: 40px;
}

.devSkills, .designSkills {
    border: 2px solid rgba($color: $offWhite, $alpha: 0.4);
    border-radius: 20px;
}

.devSkills {
    width: 75%;
}

.designSkills {
    width: 25%;
    height: fit-content;
}

.projectOne, .projectTwo, .projectThree {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.projectImageContainer, .projectDescription {
    width: 45%;
}