@use 'variables' as *;

@font-face {
    font-family: "Adlinnaka Bold";
    src: url(../fonts/Adlinnaka/Adlinnaka-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Adlinnaka Bold Condensed Italic";
    src: url(../fonts/Adlinnaka/Adlinnaka-BoldCondensedItalic.otf);
    font-weight: bold;
    font-style: italic;
    font-stretch: condensed;
}

@font-face {
    font-family: "Adlinnaka Bold Expanded";
    src: url(../fonts/Adlinnaka/Adlinnaka-BoldExpanded.otf);
    font-weight: bold;
    font-stretch: expanded;
}

@font-face {
    font-family: "Adlinnaka Light Expanded Italic";
    src: url(../fonts/Adlinnaka/Adlinnaka-LightExpandedItalic.otf);
    font-weight: light;
    font-style: italic;
    font-stretch: expanded;
}

@font-face {
    font-family: "Adlinnaka Light Italic";
    src: url(../fonts/Adlinnaka/Adlinnaka-LightItalic.otf);
    font-weight: bold;
    font-style: italic;
    font-stretch: condensed;
}

@font-face {
    font-family: "Adlinnaka Medium";
    src: url(../fonts/Adlinnaka/Adlinnaka-Medium.otf);
    font-weight: medium;
}

@font-face {
    font-family: "Adlinnaka Medium Condensed Italic";
    src: url(../fonts/Adlinnaka/Adlinnaka-MediumCondensedItalic.otf);
    font-weight: medium;
    font-style: italic;
    font-stretch: condensed;
}

@font-face {
    font-family: "Adlinnaka Regular";
    src: url(../fonts/Adlinnaka/Adlinnaka-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Adlinnaka Regular Italic";
    src: url(../fonts/Adlinnaka/Adlinnaka-RegularItalic.otf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Zirkon Bold";
    src: url(../fonts/Zirkon/Zirkon-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Zirkon Bold Italic";
    src: url(../fonts/Zirkon/Zirkon-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Zirkon Light";
    src: url(../fonts/Zirkon/Zirkon-Light.otf);
    font-weight: light;
}

@font-face {
    font-family: "Zirkon Light Italic";
    src: url(../fonts/Zirkon/Zirkon-LightItalic.otf);
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: "Zirkon Medium";
    src: url(../fonts/Zirkon/Zirkon-Medium.otf);
    font-weight: medium;
}

@font-face {
    font-family: "Zirkon Medium Italic";
    src: url(../fonts/Zirkon/Zirkon-MediumItalic.otf);
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: "Zirkon Thin";
    src: url(../fonts/Zirkon/Zirkon-Thin.otf);
    font-weight: thin;
}

@font-face {
    font-family: "Zirkon Thin Italic";
    src: url(../fonts/Zirkon/Zirkon-ThinItalic.otf);
    font-weight: thin;
    font-style: italic;
}




h1 {
    font-family: 'Adlinnaka Bold';
    font-size: 4rem;
    color: $offWhite;
    line-height: 3.8rem;
    span {
        font-family: 'Adlinnaka Medium Condensed Italic';
        color: $accentYellow;
        font-size: 2rem;
        text-transform: uppercase;
        display: block;
        line-height: 2.2rem;
        margin-top: 20px;
    }
}

h2 {
    margin: 0;
    font-family: 'Adlinnaka Bold Expanded';
    color: $accentYellow;
    // padding: 10px 20px;
    // background-color: $accentYellow;
    // display: inline-block;
}

h3 {
    margin: 0;
    font-family: 'Adlinnaka Bold Condensed Italic';
    color: $offWhite;
}

p {
    font-family: 'Zirkon Light';
    color: $offWhite;
}

a {
    font-family: 'Zirkon Light Italic';
    color: $offWhite;
}

.introText p {
    color: $offWhite;
    font-family: 'Zirkon Thin Italic';
    font-size: 1.4rem;
    width: 240px;
}