@use 'variables' as *;

@font-face {
    font-family: "Adlinnaka Bold";
    src: url(../fonts/Adlinnaka/Adlinnaka-Bold.otf);
}

@font-face {
    font-family: "Adlinnaka Bold Condensed Italic";
    src: url(../fonts/Adlinnaka/Adlinnaka-BoldCondensedItalic.otf);
}

@font-face {
    font-family: "Adlinnaka Bold Expanded";
    src: url(../fonts/Adlinnaka/Adlinnaka-BoldExpanded.otf);
}

@font-face {
    font-family: "Adlinnaka Light Italic";
    src: url(../fonts/Adlinnaka/Adlinnaka-LightItalic.otf);
}

@font-face {
    font-family: "Adlinnaka Medium";
    src: url(../fonts/Adlinnaka/Adlinnaka-Medium.otf);
}

@font-face {
    font-family: "Adlinnaka Medium Condensed Italic";
    src: url(../fonts/Adlinnaka/Adlinnaka-MediumCondensedItalic.otf);
}

@font-face {
    font-family: "Zirkon Bold Italic";
    src: url(../fonts/Zirkon/Zirkon-BoldItalic.otf);
}

@font-face {
    font-family: "Zirkon Light";
    src: url(../fonts/Zirkon/Zirkon-Light.otf);
}

@font-face {
    font-family: "Zirkon Light Italic";
    src: url(../fonts/Zirkon/Zirkon-LightItalic.otf);
}

@font-face {
    font-family: "Zirkon Medium Italic";
    src: url(../fonts/Zirkon/Zirkon-MediumItalic.otf);
}

@font-face {
    font-family: "Zirkon Thin Italic";
    src: url(../fonts/Zirkon/Zirkon-ThinItalic.otf);
}


h1 {
    font-family: 'Adlinnaka Bold';
    font-size: 4rem;
    color: $offWhite;
    line-height: 3.8rem;
    margin-top: 100px;
    span {
        font-family: 'Adlinnaka Medium Condensed Italic';
        color: $accentYellow;
        font-size: 2rem;
        text-transform: uppercase;
        display: block;
        line-height: 2.2rem;
        margin-top: 20px;
    }
}

h2 {
    margin: 0;
    font-family: 'Adlinnaka Bold Expanded';
    color: $accentYellow;
    text-align: center;
    margin-bottom: 60px;
}

h3 {
    margin: 0;
    font-family: 'Adlinnaka Bold Condensed Italic';
    color: $offWhite;
}

h4 {
    font-family: "Zirkon Bold Italic";
    color: $offWhite;
    font-size: 1.8rem;
    margin: 0;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h5 {
    text-align: center;
    color: $offWhite;
    font-family: "Zirkon Bold Italic";
    font-size: 1rem;
    text-transform: uppercase;
    margin: -2px -2px 40px -2px;
    background-color: rgba($color: $offWhite, $alpha: 0.3);
    padding: 20px 10px;
    border-radius: 18px 18px 0 0;
}

p {
    font-family: 'Zirkon Light';
    color: $offWhite;
    line-height: 1.25rem;
}

a {
    font-family: 'Zirkon Light Italic';
    color: $offWhite;
    transition: 0.2s color;
    &:hover, &:focus {
        color: $accentYellow;
    }
}

.aboutText a, .projectDescription a, .contactContainer a {
    font-family: "Zirkon Thin Italic";
    transition: 0.2s color;
    &:hover, &:focus {
        color: $accentYellow;
    }
}

a:focus {
    outline: 2px solid $accentYellow;
    border-radius: 4px;
}

.introText p {
    color: $offWhite;
    font-family: 'Zirkon Thin Italic';
    font-size: 1.4rem;
    width: 240px;
    line-height: 1.6rem;
}

.skillList p {
    margin: 10px 0 0 0;
}

p.projectTools {
    font-family: "Adlinnaka Light Italic";
    text-transform: uppercase;
    margin-top: 20px;
    color: $accentYellow;
}

