@use 'variables' as *;

.brand svg {
    width: 50px;
    fill: $accentYellow;
}

.socialIcons li {
    padding: 10px;
    svg {
        width: 40px;
        fill: rgba($color: $offWhite, $alpha: 0.4);
        transition: 0.2s all;
        g {
        fill: rgba($color: $offWhite, $alpha: 0.4);
        transition: 0.2s all;
        }
    }
    &:hover, &:focus {
        svg {
            fill: rgba($color: $offWhite, $alpha: 1);
            g {
                fill: rgba($color: $offWhite, $alpha: 1);
            }
        }
    }
}

.skillList {
    svg {
        width: 60px;
        &:hover, &:focus {
            animation: bouncy 1s 1;
        }
    }
}

// Animation from https://codepen.io/StrengthandFreedom/pen/zajxqd

@keyframes bouncy {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	20% {
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
	}
	40% {
		-webkit-transform: translateY(-4px);
		        transform: translateY(-4px);
	}
}

.projectSkills svg {
    width: 50px;
}