html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
  border-radius: 20px;
}

@font-face {
  font-family: "Adlinnaka Bold";
  src: url(../fonts/Adlinnaka/Adlinnaka-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Adlinnaka Bold Condensed Italic";
  src: url(../fonts/Adlinnaka/Adlinnaka-BoldCondensedItalic.otf);
  font-weight: bold;
  font-style: italic;
  font-stretch: condensed;
}
@font-face {
  font-family: "Adlinnaka Bold Expanded";
  src: url(../fonts/Adlinnaka/Adlinnaka-BoldExpanded.otf);
  font-weight: bold;
  font-stretch: expanded;
}
@font-face {
  font-family: "Adlinnaka Light Expanded Italic";
  src: url(../fonts/Adlinnaka/Adlinnaka-LightExpandedItalic.otf);
  font-weight: light;
  font-style: italic;
  font-stretch: expanded;
}
@font-face {
  font-family: "Adlinnaka Light Italic";
  src: url(../fonts/Adlinnaka/Adlinnaka-LightItalic.otf);
  font-weight: bold;
  font-style: italic;
  font-stretch: condensed;
}
@font-face {
  font-family: "Adlinnaka Medium";
  src: url(../fonts/Adlinnaka/Adlinnaka-Medium.otf);
  font-weight: medium;
}
@font-face {
  font-family: "Adlinnaka Medium Condensed Italic";
  src: url(../fonts/Adlinnaka/Adlinnaka-MediumCondensedItalic.otf);
  font-weight: medium;
  font-style: italic;
  font-stretch: condensed;
}
@font-face {
  font-family: "Adlinnaka Regular";
  src: url(../fonts/Adlinnaka/Adlinnaka-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: "Adlinnaka Regular Italic";
  src: url(../fonts/Adlinnaka/Adlinnaka-RegularItalic.otf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Zirkon Bold";
  src: url(../fonts/Zirkon/Zirkon-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Zirkon Bold Italic";
  src: url(../fonts/Zirkon/Zirkon-BoldItalic.otf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Zirkon Light";
  src: url(../fonts/Zirkon/Zirkon-Light.otf);
  font-weight: light;
}
@font-face {
  font-family: "Zirkon Light Italic";
  src: url(../fonts/Zirkon/Zirkon-LightItalic.otf);
  font-weight: light;
  font-style: italic;
}
@font-face {
  font-family: "Zirkon Medium";
  src: url(../fonts/Zirkon/Zirkon-Medium.otf);
  font-weight: medium;
}
@font-face {
  font-family: "Zirkon Medium Italic";
  src: url(../fonts/Zirkon/Zirkon-MediumItalic.otf);
  font-weight: medium;
  font-style: italic;
}
@font-face {
  font-family: "Zirkon Thin";
  src: url(../fonts/Zirkon/Zirkon-Thin.otf);
  font-weight: thin;
}
@font-face {
  font-family: "Zirkon Thin Italic";
  src: url(../fonts/Zirkon/Zirkon-ThinItalic.otf);
  font-weight: thin;
  font-style: italic;
}
h1 {
  font-family: "Adlinnaka Bold";
  font-size: 4rem;
  color: #ebebeb;
  line-height: 3.8rem;
  margin-top: 100px;
}
h1 span {
  font-family: "Adlinnaka Medium Condensed Italic";
  color: #fbcb33;
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
  line-height: 2.2rem;
  margin-top: 20px;
}

h2 {
  margin: 0;
  font-family: "Adlinnaka Bold Expanded";
  color: #fbcb33;
  text-align: center;
  margin-bottom: 60px;
}

h3 {
  margin: 0;
  font-family: "Adlinnaka Bold Condensed Italic";
  color: #ebebeb;
}

h4 {
  font-family: "Zirkon Bold Italic";
  color: #ebebeb;
  font-size: 1.8rem;
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h5 {
  text-align: center;
  color: #ebebeb;
  font-family: "Zirkon Bold Italic";
  font-size: 1rem;
  text-transform: uppercase;
  margin: -2px -2px 40px -2px;
  background-color: rgba(235, 235, 235, 0.3);
  padding: 20px 10px;
  border-radius: 18px 18px 0 0;
}

p {
  font-family: "Zirkon Light";
  color: #ebebeb;
  line-height: 1.25rem;
}

a {
  font-family: "Zirkon Light Italic";
  color: #ebebeb;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}
a:hover, a:focus {
  color: #fbcb33;
}

.aboutText a, .projectDescription a, .contactContainer a {
  font-family: "Zirkon Thin Italic";
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}
.aboutText a:hover, .aboutText a:focus, .projectDescription a:hover, .projectDescription a:focus, .contactContainer a:hover, .contactContainer a:focus {
  color: #fbcb33;
}

a:focus {
  outline: 2px solid #fbcb33;
  border-radius: 4px;
}

.introText p {
  color: #ebebeb;
  font-family: "Zirkon Thin Italic";
  font-size: 1.4rem;
  width: 240px;
  line-height: 1.6rem;
}

.skillList p {
  margin: 10px 0 0 0;
}

p.projectTools {
  font-family: "Adlinnaka Light Italic";
  text-transform: uppercase;
  margin-top: 20px;
  color: #fbcb33;
}

.brand svg {
  width: 50px;
  fill: #fbcb33;
}

.socialIcons li {
  padding: 10px;
}
.socialIcons li svg {
  width: 40px;
  fill: rgba(235, 235, 235, 0.4);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.socialIcons li svg g {
  fill: rgba(235, 235, 235, 0.4);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.socialIcons li:hover svg, .socialIcons li:focus svg {
  fill: #ebebeb;
}
.socialIcons li:hover svg g, .socialIcons li:focus svg g {
  fill: #ebebeb;
}

.skillList svg {
  width: 60px;
}
.skillList svg:hover, .skillList svg:focus {
  -webkit-animation: bouncy 1s 1;
          animation: bouncy 1s 1;
}

@-webkit-keyframes bouncy {
  0%, 25%, 50%, 75%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  40% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@keyframes bouncy {
  0%, 25%, 50%, 75%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  40% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
.projectSkills svg {
  width: 50px;
}

header {
  background-color: #0f0c13;
  padding: 20px 0 60px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 12, 19, 0.8)), to(#0f0c13)), url(../assets/codingBackground.jpg) no-repeat center center;
  background: linear-gradient(to bottom, rgba(15, 12, 19, 0.8), #0f0c13), url(../assets/codingBackground.jpg) no-repeat center center;
  background-size: cover;
}

nav.topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

ul.topMenu, ul.socialIcons {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.topMenu li, ul.socialIcons li {
  display: inline-block;
}
ul.topMenu a, ul.socialIcons a {
  text-decoration: none;
}

.menuBars {
  display: none;
}

ul.socialIcons a {
  display: inline-block;
  line-height: 0;
}

ul.topMenu a {
  margin-right: 30px;
}

.aboutSection, .skillsSection, .projectsSection, .contactSection {
  border-top: 2px solid rgba(235, 235, 235, 0.05);
  background-color: #0f0c13;
  padding: 60px 0;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutImage {
  width: 40%;
}

.aboutText {
  width: 55%;
}

.skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.devSkills, .designSkills {
  border: 2px solid rgba(235, 235, 235, 0.4);
  border-radius: 20px;
}

.devSkills {
  width: 75%;
}

.designSkills {
  width: 25%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.projectOne, .projectTwo, .projectThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(235, 235, 235, 0.05);
}

.projectTwo {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  text-align: right;
}

.projectThree {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.projectImageContainer, .projectDescription {
  width: 45%;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside {
  width: 46%;
}

form {
  width: 46%;
  background-color: rgba(235, 235, 235, 0.1);
  border-radius: 20px;
  padding: 30px 40px 40px;
}

fieldset {
  border: none;
  padding: 0;
}

input {
  display: block;
  font-family: "Zirkon Medium Italic";
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  color: #ebebeb;
  border-radius: 6px;
  border: none;
  background-color: #0f0c13;
}

textarea {
  border: none;
  margin-top: 10px;
  width: 100%;
  border-radius: 6px;
  font-family: "Zirkon Medium Italic";
  color: #ebebeb;
  padding: 10px;
  resize: none;
  height: 160px;
  background-color: #0f0c13;
}

button {
  font-family: "Adlinnaka Medium";
  border: none;
  margin-top: 10px;
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  background-color: #fbcb33;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border: 2px solid #fbcb33;
}
button:hover, button:focus {
  -webkit-box-shadow: 0 0 10px #0f0c13;
          box-shadow: 0 0 10px #0f0c13;
  border: 2px solid #0f0c13;
}

input:focus, textarea:focus {
  outline: 2px solid #fbcb33;
}

footer {
  background-color: #0f0c13;
  text-align: center;
  margin: 0;
  padding: 20px;
  border-top: 2px solid rgba(235, 235, 235, 0.05);
}

ul.skillList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 60px;
  padding: 0 40px 40px;
}
ul.skillList li {
  display: inline-block;
}
ul.skillList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.projectSkills {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-bottom: 12px;
}
ul.projectSkills li {
  display: inline-block;
}
ul.projectSkills li {
  border-bottom: 2px solid #fbcb33;
  padding-bottom: 10px;
}

.projectTwo ul.projectSkills {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-right: 0;
  margin-left: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

ul.projectLinks {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.projectLinks li {
  display: inline-block;
}

@media (max-width: 1024px) {
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  aside, form {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  aside {
    margin-bottom: 40px;
  }
  button {
    width: 50%;
    margin: 10px auto 0;
    display: block;
  }
}
@media (max-width: 768px) {
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .aboutText {
    width: 80%;
  }
  .skillsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .devSkills, .designSkills {
    width: 100%;
  }
  .projectOne, .projectTwo, .projectThree {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projectImageContainer {
    width: 60%;
    display: block;
    margin: 0 auto;
  }
  h4 {
    margin-top: 40px;
  }
  .projectDescription {
    width: 80%;
    text-align: center;
  }
  ul.projectSkills {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projectTwo ul.projectSkills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  button {
    width: 100%;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 3.6rem;
    line-height: 3.2rem;
  }
  h1 span {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .aboutImage {
    width: 60%;
  }
  .aboutText {
    width: 100%;
  }
  ul.skillList {
    gap: 50px;
    padding: 0 30px 30px;
  }
  .projectImageContainer {
    width: 80%;
  }
  .projectDescription {
    width: 100%;
  }
  aside, form {
    width: 100%;
  }
  form {
    padding: 10px 20px 20px;
  }
  input, textarea {
    font-size: 0.9rem;
  }
  footer {
    padding: 5px 20px;
  }
}
@media (max-width: 480px) {
  .aboutImage {
    width: 80%;
  }
  ul.skillList {
    gap: 40px;
  }
  .skillList svg {
    width: 42px;
  }
  .projectOne, .projectTwo {
    margin-bottom: 40px;
    padding-bottom: 20px;
  }
}